body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: 800;
    color: white;
}

.tab {
    display: inline-block;
    margin-left: 20px;
}

.cover {
    color: white;
}

.centerText {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-justify: center;
}

#cover_video {
    min-height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

animated {
    /* animated text */
    animation: type 3s steps(22);
    overflow: hidden;
    white-space: nowrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-right: 4px solid black;
    width: 22ch;
    color: white;
    position: fixed;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 22ch;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}

header::after {
    content: '';
    display: table;
    clear: both;
    color: currentColor;
}

#logo {
    float: left;
    padding: 5px 3px;
    color: white;
    font-size: 30px;
}

nav {
    float: right;
}

nav ul {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: tan;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.vl {
    border-left: 3px solid white;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.about-image {
    background-image: url(image.jpg);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.about {
    min-height: 100%;
    background-color: gray;
    padding: 50px 80px;
    text-align: center;
}

.experience {
    min-height: 100%;
    background-color: black;
    padding: 50px 80px;
    text-align: center;
}