.parallax {
    display: grid;
    grid-template-columns: 100%;
    color: white;
    background: url('image.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin-left: 20%;
}

.tab {
    display: inline-block;
    margin-left: 20px;
}

.cover {
    color: white;
}

h1 {
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-justify: center;
}

#cover_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
}

.item1 {
    /* grey block */
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #AAA7A8;
    color: white;
}

.item2 {
    /* image */
    background: url('image.jpg') no-repeat center;
    object-fit: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
}

.item3 {
    /* orange block */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    background-color: #E18D4D;
}

.bg {
    background-color: #AAA7A8;
    height: 900px;
    width: 500px;
}

animated {
    /* animated text */
    animation: type 3s steps(22);
    overflow: hidden;
    white-space: nowrap;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-right: 4px solid black;
    width: 22ch;
    color: white;
    position: fixed;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 22ch;
    }
}