.parallax {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "title image" "white-bar image" "colorblock image";
    background: url('image.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    width: 100%;
    margin-left: 20%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
}

.item1 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #AAA7A8;
    color: white;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 6;
    background: url('image.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    width: 100%;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: #E18D4D;
}

.bg {
    background-color: #AAA7A8;
    height: 900px;
    width: 500px;
}

h1 {
    animation: type 3s steps(22);
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas;
    border-right: 4px solid black;
    width: 22ch;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 22ch;
    }
}